@import "../../styles/styles.scss";

// reset slick carousel css
.slick-prev {
    left   : -18px !important;
    z-index: 100 !important;
}

.slick-prev:before,
.slick-next:before {
    color    : $color-main !important;
    font-size: 30px !important;
}

.slick-next {
    right  : 8px !important;
    z-index: 100 !important;
}

.slick-disabled {
    display: none !important;
}

.section-share {

    .section-body {

        .section-customize {
            .bg-image {
                width              : 20rem;
                height             : 11rem;
                background-position: center center;
                background-repeat  : no-repeat;
                background-size    : cover;
                background-color   : #eee;
                border-radius      : 1rem;

                &.section-outstanding-doctor {
                    width        : 10rem;
                    height       : 10rem;
                    border-radius: 50%;
                }

                &.section-medical-facility {
                    background-size : contain;
                    background-color: white;
                }

                // &.section-handbook {
                //     background-image: url('../../assets/handbook/tre-hoa-da-tphcm.png');
                // }
            }
        }
    }
}

.section-share {
    height       : 20rem;
    margin-bottom: 5rem;

    .section-container {
        margin        : 0 5.5rem;
        display       : flex;
        flex-direction: column;

        .section-header {
            height       : 4rem;
            margin-bottom: 1rem;
            padding-top  : 1rem;

            .title-section {
                font-size  : 1.5rem;
                font-weight: 600;
            }

            .btn-section {
                float           : right;
                margin-right    : 1rem;
                border          : none;
                background-color: #ebebeb;
                text-transform  : uppercase;

                &:hover {
                    background-color: $color-main;
                    color           : rgb(252, 252, 248);
                }
            }
        }
    }
}