.preview-image {
    height         : 4rem;
    width          : 5rem;
    border         : 1px solid #ddd;
    cursor         : pointer;
    background     : center center no-repeat;
    background-size: cover;
}