.home-footer-container {
    margin-top      : 1rem;
    padding         : 2rem 10rem;
    width           : 100%;
    background-color: rgb(242, 242, 242);

    .footer-column {
        padding: 0 1rem;

        &.footer-column2 {
            display       : flex;
            flex-direction: column;
            align-items   : center;
        }

        .footer-title {
            margin-top: 0.5rem;

            &.child {
                margin: 0;
            }
        }

        .child-icon {
            font-size   : 1rem;
            margin-right: 0.25rem;
        }

        .footer-logo {
            height   : 4rem;
            width    : auto;
            cursor   : pointer;
            transform: scale(0.5, 0.5);
        }

        .footer-link {
            color    : rgb(145, 215, 223);
            font-size: 1rem;
        }

        .image-footer {
            margin-right: 0.5rem;
            width       : 4rem;
            height      : auto;
        }
    }

}